@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Anton|Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*Estilos de Moisés*/

.account {
	display: flex;
	height: 35px;
	margin-top: 28px;
	justify-content: space-between;
}

#logo {
  width: 210px;
  padding-top: 18px;
  padding-bottom: 5px;
}

.head {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	background: #37343A;
	align-content: flex-end;
  box-shadow: 10px 10px 5px grey;
  justify-content: space-between;

}

.background-image {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#login {
	background:#FF8C00;
	color: rgba(255,255,255,0.7);
	border-radius: 20px;
	padding: 0px 10px;
	padding-top: 2px;
  padding-bottom: 2px;
	margin:  0px 5px;
  border: 2px solid #8B7A84;
}

#register {
	background: #FF8C00;
	color: rgba(255,255,255,0.7);
	border-radius: 20px;
	padding: 0px 10px;
	padding-top: 2px;
  padding-bottom: 2px;
  margin:  0px 5px;
  border: 2px solid #8B7A84;
}

#login:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  background: #8B7A84;
  color: white;
}

#register:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  background: #8B7A84;
  color: white;
}

.descripcion {
  padding: 70px;
  background: rgba(255,255,255,0.8);
}

.descripcion h3 {
  color: DarkOrange;
}


.categoria {
	color: white;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
  border-bottom: 4px DarkOrange solid;
}

.categoria:hover {
	background: orange;
  border-bottom: 4px white solid;
}

.nav-bar {
	display: flex;
	align-content: flex-end;
}

.seccion1 {
    background-image: url('../ProyectoFinal/images/landing_background_1.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion2 {
    background-image: url('../ProyectoFinal/images/landing_background_2.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion3 {
    background-image: url('../ProyectoFinal/images/landing_background_3.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion4 {
    background-image: url('../ProyectoFinal/images/landing_background_4.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.legales {
  display: flex;
  background: #37343A;
  height: 80px;
  color: white;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.info1 {
  display: flex;
  padding-top: 30px;
}

.info2 {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end;
}

.legal-link {
  padding: 0px 10px;
}

.legal-link:hover {
  color: orange;
}
 #copyright {
  color: white;
 }

.legal-logo-container {
  padding: 0px 60px;
}

#legal-logo {
  height: 40px;
  margin-top: 20px;
  text-align: center;
}
.alert-devf{
  background: lime;
  color: magenta;
}

body{
  margin: 0px;
  padding: 0px;
}

#contenedor{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#contenedor2{
  background-image: url('images/background.jpg');
  background-size:1369px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 637px;
  padding-top: 15px;
}

#contenedorInicio{
  height: 950px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../images/echame.jpg');
  background-repeat: no-repeat;
  background-position: center left;
  background-color: #FF8C00;
}

#contenedorRegistro{
  width: 100%;
  height: 870px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
  background-image: url('../images/echame.jpg');
  background-repeat: no-repeat;
  background-position: 0% 25%;
  background-color: #E15A31;
}

#contenedorBienvenida{
  width: 100%;
  height: 530px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../images/echame.jpg');
  background-repeat: no-repeat;
  background-position: center left;
  background-color: #E15A31;
}

#bienvenida{
  color: tomato;
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

#bienvenida2{
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  transform: rotate(315deg);
  color:white;
  font-size: 30px;
  border-bottom: 2px solid white;
}

#bienvenida3{
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  transform: rotate(315deg);
  color:white;
  font-size: 80.49px;
  border-bottom: 2px solid white;
}

#bienvenida4{
  font-family: 'Open Sans Condensed', sans-serif;
  width: 550px;
  height: 130px;
  background-color: rgba(0, 0, 0,0.5);
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
  box-shadow: 10px 10px black;
  margin-top: -450px;
  margin-right: -25px;
}

#imagenes{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#texto{
  width:40%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#textoResaltado1{
  font-family: 'Anton', sans-serif;
}

#textoResaltado2{
  border-bottom: 8px groove tomato;
  color: white;
  font-size: 50px;
	margin-top: 60px;
	margin-bottom: 30px;
}

#textoResaltado3{
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 60px;
}

#textoExplicativo1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  padding-right: 20px;
}

.textoExplicativo2{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.button{
  background-color: tomato;
  border: 2px solid tomato;
  border-radius: 2px;
  box-shadow: 2px 3px 5px black;
  width: 150px;
  height: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.button:hover{
  background-color: #CCBCC9;
  border: 2px solid #CCBCC9;
  color: #37343A  ;
  box-shadow: 3px 4px 10px black;
}

.textoBienvenida{
  font-family: 'Raleway', sans-serif;
  transform: rotate(315deg);
  color:white;
  font-size: 19px;
}

#fotosYvideos{
  border-left: 3px solid black;
  background-color: lightgrey;
  width: 355px;
  padding-left: 10px;
}

#titulo{
  display: flex;
  justify-content: center;
	padding: 20px;
	text-shadow: 2px 2px 8px #101010;

}

.servicios{
  width: 22%;
  height: 430px;
}

.servicios:hover{
  box-shadow: 0px 6px 30px black;
 background-color: rgba(240, 240, 240,0.8);
}

.imagenServicios{
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px groove rgba(240, 240, 240,0.3);
}

.textoServicios{
  height: 180px;
  width: 100%;
  background-color: rgba(240, 240, 240,0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textoServ{
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 24px;
  margin: 0px;
	padding-top: 10px;
}

.textoServ2{
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 17px;
  margin: 10px;
}

#rombo{
  width: 360px;
  height: 360px;
  margin-right: 100px;
  transform: rotate(45deg);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#romboRegistro{
  width: 360px;
  height: 360px;
  margin-right: 100px;
  margin-top: 128px;
  transform: rotate(45deg);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contenidoRombo{
  width: 33.3333%;
  height: 116.6666px;
  background-color: rgba(0,0,0,.5);
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoRomboE{
  width: 33.3333%;
  height: 116.6666px;
  background-color: black;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoRomboE:hover{
  background-color: #37343A;
  border: 1px solid white;
  box-shadow: 0px 6px 30px black;
}

.contenidoRomboE2{
  width: 33.3333%;
  height: 116.6666px;
  background-color: #37343A;
  border: 1px solid white;
  box-shadow: 0px 6px 30px black;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoRomboEB{
  width: 117px;
  height: 117px;
  background-color: black;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.contenidoRomboEB:hover{
  background-color: #37343A;
  border: 1px solid white;
  box-shadow: 0px 6px 30px black;
}

#datosRegistro{
  width: 500px;
  height: 770px;
  background-color: rgba(0, 0, 0,0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

#datosInicio{
  width: 500px;
  height: 370px;
  background-color: rgba(0, 0, 0,0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textoDatos{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 0px;
}

.textoDatos2{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 23px;
  margin: 0px;
}

#pre_poskwey{
  color:white;
}

#pre_poskwey:hover{
  text-decoration: underline;
  color: dodgerblue;
}

#poskwey{
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
  box-shadow: 3px 2px black;
  margin-top: 20px;
  margin-left: 70px;
}

#logo {
	width: 110px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.head {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	background: #FF8C00;
	align-content: flex-end;
  box-shadow: 10px 10px 5px grey;
  justify-content: space-between;

}

.categoria {
	color: white;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
  border-bottom: 4px #FF8C00 solid;
}

.categoria:hover {
	background: orange;
  border-bottom: 4px white solid;
}

.nav-bar {
	display: flex;
	justify-content: flex-end;
}

.imagenServicios img {
	border-radius: 50%;
}

.legales2 {
	display: flex;
  background: #37343A;
  height: 80px;
  color: white;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
	margin-top: 110px;
}
