.Logo img{
  width: 45%;
  height: 45%;
}

.Rastreo{
  display: flex;
  justify-content: center;
}


.Rastreo img{
  width: 75%;
  height: 75%;
}

.AnuncioRastreo{
  text-align: center;
}

.HoraRastreo{
  background-color: grey;
  color: orange;
  text-align: center;
}
