/*Estilos de Moisés*/

.account {
	display: flex;
	height: 30px;
	margin-top: 28px;
	justify-content: space-between;
}

#logo {
	width: 110px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.head {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	background: DarkOrange;
	align-content: flex-end;
  box-shadow: 10px 10px 5px grey;

}

.background-image {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#login {
	background: #37343A;
	color: white;
	border-radius: 10px;
	padding: 0px 10px;
	padding-top: 2px;
	margin:  0px 5px;
}

#register {
	background: #37343A;
	color: white;
	border-radius: 10px;
	padding: 0px 10px;
	padding-top: 2px;
}

#login:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  background: #8B7A84;
}

#register:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  background: #8B7A84;
}

.descripcion {
  padding: 70px;
  background: rgba(255,255,255,0.8);
}

.descripcion h3 {
  color: DarkOrange;
}


.categoria {
	color: white;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
  border-bottom: 4px DarkOrange solid;
}

.categoria:hover {
	background: orange;
  border-bottom: 4px white solid;
}

.nav-bar {
	display: flex;
	align-content: flex-end;
}

.seccion1 {
    background-image: url('../ProyectoFinal/images/landing_background_1.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion2 {
    background-image: url('../ProyectoFinal/images/landing_background_2.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion3 {
    background-image: url('../ProyectoFinal/images/landing_background_3.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion4 {
    background-image: url('../ProyectoFinal/images/landing_background_4.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.legales {
  display: flex;
  background: #37343A;
  height: 80px;
  color: white;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.info1 {
  display: flex;
  padding-top: 30px;
}

.info2 {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end;
}

.legal-link {
  padding: 0px 10px;
}

.legal-link:hover {
  color: orange;
}
 #copyright {
  color: white;
 }

.legal-logo-container {
  padding: 0px 60px;
}

#legal-logo {
  height: 40px;
  margin-top: 20px;
  text-align: center;
}




/*Estilos de Erick*/

.estilo{
  border: 1px solid black;
}

.chat{
  border: 1px solid black;
  width: 1200px;
  height: 420px;
}

.escribir{
  border: 1px solid black;
}

.frog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo2{

}

.borde{
  border: 1px solid black;
  width: 1300px;
  height: 500px;
}

/*Estilos de Abel*/

.categorias{
  text-align: center;
}

.CategoriasDetalladas{
  text-align: left;
}

.categorias img{
  width: 75%;
  height: 75%;
  border-radius: 25%;
}

.boton{
  background-color: orange;
  text-align: center;

}

.contenedor{
  border-bottom: solid grey;
}

.contenedor2{
	background-color:#8B7A84;
	color: orange;
}

.emocion{
  border-bottom: solid grey;
  justify-content: center;
}

.emocion img{
  width: 70%;
  height: 70%;
}

#comentarios{
  border: solid grey;
}

.Reloj{
  display: flex;
  justify-content: center;
}

.Logo img{
  width: 45%;
  height: 45%;
}

.Mensaje{
  text-align: center;
}

.Logo img{
  width: 45%;
  height: 45%;
}

.Rastreo{
  display: flex;
  justify-content: center;
}


.Rastreo img{
  width: 75%;
  height: 75%;
}

.AnuncioRastreo{
  text-align: center;
}

.HoraRastreo{
  background-color: grey;
  color: orange;
  text-align: center;
}

.Logo img{
  width: 45%;
  height: 45%;
}

#comentarios{
  border: solid grey;
}

.separador{
	height: 100px;
}
